.conteudo{
    text-align: center;
    padding-top: 30px;
}

.slogan{
    font-size: 35px;
    font-weight: 700;
    color: white;
}

.descricao{
    margin-top: 20px;
    font-weight: 600;
    color: white;
}

#comeceAgora{
    margin-top: 10px;
    background-color: #0712aa;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.mostre{
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.descricao-2{
    margin-top: 10px;
    color: white;
}

#img-mexendo-celular{
    width: 100%;
    border-radius: 20px;
}

.planos{
    margin-top: 100px;
    text-align: center;
}

#planos-titulo{
    font-weight: 700;
    font-size: 26px;
    color: white;
}

#planos-sub-titulo{
    font-size: 18px;
    color: white;
}

.planos-desc{
    background-color: #0712aa;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#desc-titulo{
    position: relative;
    top: -18px;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 10%;
    color: rgb(31, 31, 31);
    background-color: #f5cd2b;
    border-radius: 20px;
    width: 80%;
}

#desc-name{
    color: white;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

#desc-valor{
    font-weight: 700;
    font-size: 60px;
    color: white;
    margin: 0;
}

#desc-desc{
    color: white;
}

#btn-assine{
    border-radius: 20px;
    background-color: rgb(32, 177, 32);
    font-weight: 600;
    color: white;
    padding: 10px;
}

.btn-planos{
    margin-bottom: 40px;
    width: 100%;
}

.btn-planos p{
    border-radius: 20px;
    width: 40%;
    margin: 5px;
    color: white;
}

.btn-planos p a{
    background-color: #0712aa;
    padding: 3px;
    font-weight: 600;
    font-size: 12px;
    color: white;
    border-radius: 10px;
}

.btn-ativo{
    background-color: rgb(32, 177, 32);
    font-weight: 600;
}

.vantagens{
    margin-left: 15%;
    width: 70%;
    margin-top: 30px;
    color: white;
    list-style: none;
    text-align: left;
    font-weight: 600;
}

.vantagens li{
    margin-bottom: 16px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.vantagens li svg{
    color: #f5cd2b;
    position: absolute;
    left: 17%;
}

#name{
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 5px; 
}

.roda-pe{
    padding-top: 20px;
    text-align: center;
    list-style: none;
    background-color: #262A34;
}

#copyrigth{
    font-size: 14px;
    color: white;
    padding-bottom: 15px;
    margin: 0px;
}