<div class="container">
    <div class="conteudo">
        <p class="titulo">Tudo em um só lugar</p>
        <span class="slogan">Seus contatos e redes sociais em um só lugar</span>
        <p class="descricao">Conheça a facilidade de compartilhar<br>suas redes para seus clientes e amigos</p>
        <button class="btn" id="comeceAgora">Começe agora!</button>
        <img id="img-mexendo-celular" src="assets/fotos/mexendo-celular.png">
        <p class="mostre">Mostre quem você é, o que você faz, o que você vende.</p>
        <p class="descricao-2">Personalize do seu jeito para ter uma identidade única.</p>
    </div>
</div>
