<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <img src="assets/logo.png" width="130px" [routerLink]="['/']">
    <div class="d-md-flex justify-content-md-end">
      <button class="btn" type="button" id="btn-login" [routerLink]="['/login']">Login</button>
      <button class="btn" type="button" id="btn-cadastro" [routerLink]="['/cadastro/usuario']">Cadastre-se</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


<div class="roda-pe">
  <p id="name">Share Networks</p>
  <p>
    <a href=""><img src="assets/fotos/linkedin.svg" style="margin-right: 15px;"></a>
    <a href=""><img src="assets/fotos/instagram.svg" style="margin-right: 15px;"></a>
    <a href=""><img src="assets/fotos/facebook.svg"></a>
  </p>
  <p id="copyrigth">© Copyright 2022-2022 sharenetworks.com.br</p>
</div>