.navbar{
    background: #181A20;
    border: none;
    border-bottom: 0.5px solid rgba(182, 182, 182, 0.322);
}

#btn-login{
    color: white;
}

#btn-cadastro{
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-weight: 600;
}

.userName{
    color: white;
    font-weight: 700;
    font-size: 19px;
}

#userName{
    margin-top: 15px;
}

.user-logado{
    width: 60%;
}

#btn-menu{
    color: white;
}

#col-btn-menu{
    margin-top: 15px;
}

#nav-content{
    width: 100%;
}

#btn-acesso{
    margin-top: 7px;
    position: absolute;
    right: -20px;
}