.voltar{
    //border-bottom: 0.5px solid rgba(182, 182, 182, 0.322);
    display: flex;
}

.titleEtapa{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 15px;
}

#titleEtapa{
    color: white;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

#btn-voltar{
    color: white;
    background-color: #3A3F50;
    border-radius: 10px;
    margin: 15px;
}

.titulo-etapa-2{
    color: white;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
}

.div-titulo{
    width: 70%;
}

#btn-adc-secao{
    margin-top: 30px;
    background-color: #FFFFFF;
    border-radius: 30px;
    font-weight: 600;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

#btn-adc-secao svg{
    margin-left: 10px;
    color: white;
    background-color: #0712aa;
    border-radius: 30px;
    padding: 5px;
}

.content{
    text-align: center;
    height: 100%;
}

.titulo{
    margin-top: 20px;
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.sub-titulo{
    color: white;
    font-weight: 600;
}

// modal

.modal-header p{
    font-weight: 600;
    color: rgb(58, 55, 55);
}

.modal-content{
    margin-left: 5%;
    border-radius: 20px;
    width: 90%;
    height: 50%;
    margin-top: 25%;
}

.modal-body ul{
    list-style: none;
    position: relative;
    left: -40px;
}

.modal-body li{
    font-weight: 600;
    color: rgb(58, 55, 55);
    margin: 15px;
}

.modal-body li svg{
    background-color: rgb(240, 243, 250);
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: black;
}

#delete span{
    font-weight: 700;
    color: white;
}

#delete .modal-content{
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
    background-color: #262A34;
}

.descartar{
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
}

.continuar{
    color: rgb(120, 120, 120);
    font-weight: 600;
    margin-top: 20px;
}