<div class="container">
    <div class="conteudo">
        <h5 id="titulo">Bem-vindo de volta</h5>
        <p id="desc">Faça login em sua conta Share Networks</p>
        <div class="d-grid gap-2">
            <button id="btn-op-login-facebook" class="btn"><img src="assets/fotos/logo-facebook.png" id="logo-facebook"> Entrar com o Facebook</button>
            <button id="btn-op-login" class="btn"><img src="assets/fotos/logo-google.png" id="logo-goole"> Entrar com o Google</button>
        </div>
        <p id="termos">Ao continuar você concordará com nosso <a href="">Termos de uso e políticas de provacidade</a></p>
    </div>
</div>